{% load i18n %}<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
</head>
<body style="margin:0;padding:0;">
<table width="100%" height="100%" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
	<tr>
		<td align="center" valign="middle">
			<table cellpadding="0" cellspacing="0" width="790">
				<tr height="88">
			    	<td align="center" valign="middle" style="font-family:Arial,sans-serif;font-size: 70px;color:#000000;background:#FFFFFF;border-bottom: 5px solid black;">
			    		The W4 Newsletter
					</td>
				</tr>
				<tr>
					<td align="center" valign="bottom" style="font-family:Arial,sans-serif; font-size: 16px; border-bottom: 2px solid black">
						<table cellpadding="0" cellspacing="0" width="790">
							<tr>
								<td width="300">
								</td>
								<td align="center" valign="bottom">
									{{ date|date:"j F Y" }}
								</td>
								<td align="right" valign="middle" width="300" style="font-size:10px;font-style:italic;">
									{% trans "Δεν εμφανίζεται σωστά;" %} <a href="#" style="text-decoration:none; color:#FF0000">{% trans "Δείτε το στον browser." %}</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	{% for item in items %}
	<tr>
		<td align="center" valign="middle" style="padding:5px 0;">
			<table cellpadding="0" cellspacing="0" width="790">
				<tr>
					<td style="font-family:Arial,sans-serif;text-decoration:none;color:#FF0000; font-size:14px;background-image: url('debut_light.png');padding:5px;padding-left:10px">{{ forloop.counter }}. <a href="{{ item.link }}" style="font-family:Arial,sans-serif;text-decoration:none;color:#FF0000; font-size:14px;font-style:italic;">{{ item.title }}</a></td>
				</tr>
				<tr>
					<td style="font-family:Arial,sans-serif; font-size:13px; padding:5px 10px;">
						{{ item.text }}
					</td>
				</tr>
				<tr>
					<td valign="middle" style="background-image: url('theW4/templates/debut_light.png'); padding: 5px;padding-left:10px;"><img height="13" src="theW4/templates/link_icon_black.png"><a href="{{ item.link }}" style="font-family:Arial,sans-serif;text-decoration:none;color:#FF0000;font-size:13px;font-style:italic;padding-left:10px;">{{ item.link }}</a></td>
				</tr>
				<tr height="5">
					<td style="border-bottom: 1px dotted black;"></td>
				</tr>
			</table>
		</td>
	</tr>
	{% endfor %}
	<tr>
		<td align="center" valign="middle" style="font-family:Arial,sans-serif;text-decoration:none;color:#FF0000; font-size:10px; padding-bottom: 10px">coded by <a target="_blank" href="http://www.alternality.gr/" style="font-family:Arial,sans-serif;text-decoration:none;color:#FF0000; font-size:10px;">Dimitris</a>, curated by <a target="_blank" href="http://geeksalad.eu/" style="font-family:Arial,sans-serif;text-decoration:none;color:#FF0000; font-size:10px;">Daphne</a>, icons by <a target="_blank" href="http://www.gentleface.com/free_icon_set.html" style="font-family:Arial,sans-serif;text-decoration:none;color:#FF0000; font-size:10px;">Gentleface</a> 
		</td>
	</tr>
	<tr>
		<td align="center" valign="middle">
			<table cellpadding="0" cellspacing="0" width="790">
				<tr>
					<td align="center" valign="middle" style="font-family:Arial,sans-serif; font-size:10px;background:#000000;color:#AAAAAA;">
						Λαμβάνετε αυτό το e-mail επειδή γραφτήκατε στο W4 Newsletter. Αν δεν επιθυμείτε πια να λαμβάνετε αυτές τις ενημερώσεις, <a href="#" style="text-decoration:none;color:#FF0000;">διαγραφείτε από τη λίστα μας</a>.
						<br>
						&copy; {{ date|date:"Y" }} Daphne Koumpa
					</td>
				</tr>
		</td>
	</tr>
</table>
</body>
</html>
